@import "../../scss/settings/_mixins";

.donate-component-container {
  @include donate-component-container;

}

.donate-end {
  display: flex;
  flex-grow: 1;

  padding: 60px;
  background-image: url("../../assets/images/Background-Form.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.donate-end-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 315px;
  font-size: 25px;
  font-weight: 100;
  span {
    padding: 3px;
  }
  span:last-of-type {
    padding-bottom: 35px
  }
}