$font-base: (
        'https://fonts.googleapis.com/css?family=Open+Sans&display=swap':  (
                name: 'Open Sans',
                weight: normal,
                style: sans-serif,
        ),
        'https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap':  (
                name: 'Open Sans',
                weight: bold,
                style: sans-serif,
        ),
        'https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap':  (
                name: 'Open Sans',
                weight: 300,
                style: sans-serif,
        ),
);
$font-alt: (
        'https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet':  (
                name: 'Merrriweather',
                weight: normal,
                style: serif,
        ),
        'https://fonts.googleapis.com/css?family=Merriweather:700&display=swap':  (
                name: 'Merrriweather',
                weight: bold,
                style: serif,
        ),
        'link href="https://fonts.googleapis.com/css?family=Merriweather:300&display=swap':  (
                name: 'Merrriweather',
                weight: 300,
                style: serif,
        ),
);
