@import "../../scss/settings/_reusable";

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  h1 {
    @include text-above-decoration
  }
}
.sign-in-credentials {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $basic-grey;
  padding: 35px;
  margin-top: 35px;

}
.sign-in-credentials-email, .sign-in-credentials-password  {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 85px;
  span {
    color: darkred;
    font-size: 12px;
    padding-top: 3px;
  }
  @include form-items;
  input {
    background-color: $basic-grey;
  }
}
.sign-in-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 450px;
  margin-top: 15px;
}
.sign-in-button {
  @include nav-button;
  width: 80px;
  margin-right: 15px;
  &:hover {
    @include active-sub-page;
  }
}
.create-account-button {
  @include nav-button;
  &:hover {
    @include active-sub-page;
  }
}