@import "../../scss/settings/_reusable";

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.contact-form-headline {
  @include text-above-decoration;
}

.contact-img {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url("../../assets/images/Background-Contact-Form.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex: 0.65;
  position: relative;
}
