@import "../../scss/settings/_reusable";

///////////// GENERAL /////////////

.donate-steps-container {
  position: relative;
}

.donate-component-container {
  @include donate-component-container;
  @include donate-background-bear;
}

.donate-component-choice-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 60px;
}

.donate-choice-headline {
  font-size: 30px;
  padding: 25px 0 15px 0;
  font-weight: normal;
}

.donate-component-choice {
  @include select-dropdown;
}

.donate-components {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: $basic-grey;
}

///////////// DONATE ITEMS - STEP 1 /////////////

.donate-items-choice {
  display: flex;
  flex-direction: column;
}

.donate-items-single {
  padding: 3px;
}

.donate-items-single-label {
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}

#clothing, #used_clothing, #toys, #books, #other {
  @include input;
}

///////////// DONATE BAGS - STEP 2 /////////////

.donate-bags-choice-container {
  @include donate-component-choice-container;
}

.donate-bags-primary {
  width: 50px;
}

///////////// DONATE LOCATION - STEP 3 /////////////

.donate-location-choice-container {
  @include donate-component-choice-container;
}

.donate-choice-select {
  width: 200px;
  background-color: transparent;
}

.donate-choice-textarea {
  width: 400px;
  height: 25px;
}

///////////// DONATE PICK-UP - STEP 4 /////////////

.donate-pick-up-choice-container {
  @include donate-component-choice-container;
}

.donate-pick-up-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.donate-pick-up-form-location {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 350px;
}

.form-location, .form-time {
  @include form-input-data;
}

.form-error-message {
  margin-left: 80px;
  padding-bottom: 3px;
  color: darkred;
  font-size: 10px;
}

.donate-location {
  display: flex;
}

///////////// DONATE SUM-UP - STEP 5 /////////////
.donate-component-choice-container {
  img {
    height: 35px;
    width: 35px;
  }
}

.donate-sum-up-item, .donate-sum-up-location {
  display: flex;
  justify-content: flex-start;
}

.donate-sump-up-th {
  padding: 5px;
  width: 50px;

}



.donate-sum-up-details {
  display: flex;
}

.donate-sum-up-details-address, .donate-sum-up-details-time {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5px 35px 5px 0;
  width: 380px;
}

.donate-details-title {
  height: 50px;
  font-size: 18px;
  text-align: left;
}

.donate-details-th {
  height: 25px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 15px;
  width: 190px;
}
.donate-details-td {
  text-align: left;
  font-weight: bold;
  width: border-box;
}

///////////// DONATE - BUTTONS /////////////

.button-display-none {
  display: none;
}

.donate-button-container {
  position: absolute;
  z-index: 20;
  bottom: 110px;
  left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-backward-visible {
  @include donate-button-page;
  left: 50px;
}

.button-forward-visible {
  @include donate-button-page;
  left: 400px;
}

.footer-wrapper {
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 25px;
}

#donate-container {
  position: relative;
}

.footer-wrapper {
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 25px;
}
