@import "../../scss/settings/colors";
@import "../../scss/settings/fonts";
@import "../../scss/settings/mixins";

.donate-pick-up-warning {
  @include donate-warning;
}

.donate-pick-up-container {
  @include donate-component-container
}

.donate-pick-up-choice-container {
  @include donate-component-choice-container;
}

.donate-pick-up-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

}
.donate-pick-up-form-location {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 350px;

}
.form-location, .form-time {
  @include form-input-data;
}


.donate-location {
  display: flex;
}