
#footer-container {
  position: absolute;
  width: 100%;

  span {
    position: absolute;
    left: 45%;
  }

  img {
    position: absolute;
  }

  img:first-of-type {
    right: 9%;
  }

  img:last-child {
    right: 6%;
  }
}