
.footer-container {
  position: absolute;
  width: 100%;

}
.footer-text {
  position: absolute;
  left: 45%;
}
.footer-icon-fb {
  position: absolute;
  right: 9%;
}
.footer-icon-inst {
  position: absolute;
  right: 6%;
}