@import "../../scss/settings/colors";
@import "../../scss/settings/fonts";
@import "../../scss/settings/mixins";

.donate-wrapper {
  position: relative;
}

.footer-wrapper {
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 25px;
}
